<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699530021274-3111163546oobl58igfb90d1cvm6ia3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699530021274-3111163546oobl58igfb90d1cvm6ia3n</string>
	<key>API_KEY</key>
	<string>AIzaSyAE2O65SJCpRUR1qEqAwndSEk0kMj96cps</string>
	<key>GCM_SENDER_ID</key>
	<string>699530021274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.com.gradit</string>
	<key>PROJECT_ID</key>
	<string>graditios-25427</string>
	<key>STORAGE_BUCKET</key>
	<string>graditios-25427.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:699530021274:ios:42b8de285e22a87caed223</string>
</dict>
</plist>
